body {
	background-color: #A9D0F5;
}
h1 {
	font-family:Tahoma;
}
.info {
	font-family: Helvetica;
}
p {
	font-family: "Lucida Sans Unicode";
	color: #585858;
}
#edu {
	font-family: cursive;
}
#interests {
	background-color: #ECE0F8;
	font-family: sans-serif;
	margin: auto;
	padding: 30px;
}
div p {
	font-family: "Palatino Linotype";
}
.photo {
	background-color: #F4FA58;
	border: 5px solid black;
	margin: 20px;
	padding: 15px;
}
#steve {
	width: auto;
	height: auto;
	float: left;
}
#luke {
	width: auto;
	height: auto;
	float: right;
}